:root {
  --black: #000000;
  --white: #ffffff;
  --white09: rgba(255, 255, 255, .9);
  --coral: #f08080;
  --coral03: rgba(240, 128, 128, .3);
  --teal: #00ced1;
  --teal03: rgba(0, 206, 209, .3);
  --blue: #001eff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --purple03: rgba(111, 66, 193, .3);
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --orange03: rgba(253, 126, 20, .3);
  --yellow: #ffc107;
  --yellow03: rgba(255, 193, 7, .3);
  --green: #28a745;
  --cyan: #17a2b8;
  --cyan03: rgba(23, 162, 184, .3);
  --gray: #f6f9fc;
  --gray09: rgb(246, 249, 252, .9);
  --gray-dark: #212121;
  --gray-dark01: rgba(33, 33, 33, .1);
  --primary: #8493A8;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Karla', sans-serif; */

@-ms-viewport {
  width: device-width;
}

body, h1, h2, h3, h4, h5, h6, p, a, ul, li, div, section, aside, figure, nav, iframe, img, input, button{
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: .2s all ease-in-out;
}

body,
html {
  width: 100%;
  height: 100%;
}

html{
  font-size: 16px;
}

body {
  font-family: "Poppins", "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.5;
  color: var(--gray-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;
}

h1 + *{
  margin-top: .5rem;
}

h2 {
  color: var(--gray-dark);
  font-size: 2rem;
  text-align: center;
}

h2 + *{
  margin-top: 2rem;
}

h2 + p{
  margin-top: 1rem;
}

h2 strong {
  font-weight: 600;
}

h3{
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  color: var(--gray-dark);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

h6{
  font-size: 1rem;
  color: var(--gray-dark);
  margin-bottom: 0.5rem;
}

p{
  font-size: .8rem;
  line-height: 1.5;
}

p + *{
  margin-top: 2rem;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 1rem;
  max-width: 1140px;
}

.navbar {
  background-color: var(--gray);
  border-bottom: solid 1px var(--gray09);
  box-shadow: 0 4px 17px 0 var(--gray-dark01);
  color: var(--gray-dark);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.navbar > .container{
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#nav-logo,
.navbar-shrink #nav-logo:hover {
  background-image: url("../img/logo-teal.png");
}

#nav-logo:hover,
.navbar-shrink #nav-logo {
  background-image: url("../img/logo-coral.png");
}

#nav-logo{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-width: 100px;
  text-decoration: none;
  width: 100px;
  height: 37px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-left: 1rem;
  margin-bottom: 0;
  list-style: none;
}

.nav-link,
.nav-link-active {
  border-bottom: transparent solid 5px;
  color: var(--gray-dark);
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom: #f08080 solid 5px;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-shrink .nav-link{
  font-size: .8rem;
}

.navbar-shrink .get-started-link{
  font-size: .8rem;
}

.WO__nav--mobileButtonOpen,
.WO__nav--mobileButtonClose{
  font-size: 3.5rem;
  line-height: 1;
}

.WO__nav--mobileButtonOpen,
.WO__nav--mobileButtonClose{
  display: none;
}

.WO__nav--mobileButtonClose{
  padding: .5rem 1rem;
}

.Center-Container.is-Inline{
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.Center-Container.is-Inline:after,
.is-Inline .Center-Block{
  display: inline-block;
  vertical-align: middle;
}

.Center-Container.is-Inline:after{
  content: '';
  height: 100%;
  margin-left: -.25em;
}

.is-Inline .Center-Block{
  max-width: 99%;
}

.coF{
  color: var(--white);
}

.maBo05re{
  margin-bottom: .5rem;
}

.maBo1re{
  margin-bottom: 1rem;
}

.teAlCe{
  text-align: center;
}

.diFl{
  display: flex;
}

.alItCe{
  align-items: center;
}

#WO__main {
  padding-top: 80px;
}

.icon-wrapper {
  background-color: pink;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
}

#intro {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ced1+0,f08080+100 */
  background: #00ced1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00ced1 0%, #f08080 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00ced1 0%,#f08080 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00ced1 0%,#f08080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ced1', endColorstr='#f08080',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#intro .container,
#footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#intro .col1 {
  padding-right: 1rem;
}

.get-started-link {
  background: var(--coral);
  border: solid 1px var(--gray09);
  border-radius: 4px;
  box-shadow: 0 0px 17px 0 var(--gray-dark01);
  color: var(--white);
  display: inline-block;
  padding: .5rem 1rem;
}

.get-started-link:hover,
.get-started-link:focus {
  background-color: var(--teal);
  color:var(--white);
}

.navbar .nav-link.get-started-link,
.navbar .nav-link.get-started-link:hover,
.navbar .nav-link.get-started-link:focus {
  border-bottom: transparent solid 5px;
  margin-left: 1rem;
  text-align: center;
}

.introWhy > *,
.home-head-mobiles > * {
  margin-right: .5rem;
}

.introWhy > *:last-child,
.home-head-mobiles > *:last-child {
  margin-right: 0;
}

.home-head-mobiles {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.fab {
  font-size: 2rem;
}

#intro .col2 {
  padding-left: 1rem;
  position: relative;
  max-width: 640px;
}

.introImgCon {
  border-radius: 7% 0 0 35%;
  overflow: hidden;
}

.introImg {
  width: 100%;
}

.head-play-button {
  border-radius: 50%;
  box-shadow: 0 0px 17px 0 var(--gray-dark01);
  color: #f08080;
  font-size: 8rem;
  z-index: 10;
}

.head-play-button:hover {
  color: #00ced1;
}

.cards{
  display: flex;
  justify-content: space-between;
}

.card{
  background-clip: border-box;
  background-color: #fff;
  border: solid 1px var(--gray09);
  border-radius: 4px;
  box-shadow: 0 4px 17px 0 var(--gray-dark01);
  flex-basis: 30%;
  padding: 1rem;
  word-wrap: break-word;
}

.cardTop{
  align-self: flex-start;
}

.cardTop + *{
  margin-top: 2rem;
}

.gray-background {
  background-color: var(--gray);
}

.gray-background h2{
  color: var(--gray-dark);
}

#challenge .card,
#solution .card{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon,
.iconImg{
  margin-bottom: 2rem;
  max-width: 80px;
  max-height: 80px;
}

.iconImg img{
  width: 100%;
}

.icon{
  color: #f08080;
  display: block;
  font-size: 5em;
}

#challenge .card:nth-of-type(2) .icon{
  color: var(--orange);
}

#challenge .card:nth-of-type(3) .icon{
  color: var(--blue);
}

#solution .card:nth-of-type(1) .icon{
  color: var(--red);
}

/* #solution .card:nth-of-type(2) .iconImg{
  text-align: center;
  max-width: 60px;
}

#solution .card:nth-of-type(3) .iconImg{
  max-width: 60px;
}

#solution .card:nth-of-type(2) .iconImg img{
  width: 100%;
}

#solution .card:nth-of-type(3) .iconImg img{
  width: 100%;
} */

#solution,
#beta{
  background-color: #00ced1;
}

#challenge h5,
#solution h5{
  color: var(--gray-dark);
}

/* Features ---------------------------------- */
#features .cards{
  align-items: center;
  justify-content: center;
}

#features .cards > *{
  flex: 30%;
}

#features .col2{
  padding-right: 1rem;
  padding-left: 1rem;
  flex-basis: 40%;
  max-width: 350px;
}

#features .card{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#features .card:last-child{
  margin-bottom: 0;
}

.featureBody {
  flex: 1;
}

.col1 .featureBody{
  padding-right: 1rem;
}

.col3 .featureBody,
.feature .featureBody{
  padding-left: 1rem;
}

.feature-left-1:hover,
.feature-left-1:focus,
.feature-left-1.feature-active,
.feature-left-1 .icon-wrapper {
  background-color: var(--teal03);
}

.feature-left-2:hover,
.feature-left-2:focus,
.feature-left-2.feature-active,
.feature-left-2 .icon-wrapper {
  background-color: var(--yellow03);
}

.feature-left-3:hover,
.feature-left-3:focus,
.feature-left-3.feature-active,
.feature-left-3 .icon-wrapper {
  background-color: var(--purple03);
}

.feature-right-1:hover,
.feature-right-1:focus,
.feature-right-1.feature-active,
.feature-right-1 .icon-wrapper {
  background-color: var(--orange03);
}

.feature-right-2:hover,
.feature-right-2:focus,
.feature-right-2.feature-active,
.feature-right-2 .icon-wrapper {
  background-color: var(--cyan03);
}

.feature-right-3:hover,
.feature-right-3:focus,
.feature-right-3.feature-active,
.feature-right-3 .icon-wrapper {
  background-color: var(--coral03);
}

.feature:hover .icon-wrapper,
.feature.feature-active .icon-wrapper {
  background-color: var(--white);
  color: var(--gray-dark);
}

.phone-img-content-img{
  width: 100%;
}

/* Testimonials ---------------------------------- */
#testimonials{
  background-color: #f08080;
}

#testimonials .card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonialstars,
.testimonialUser{
  display: flex;
  align-items: center;
}

.testimonialstars{
  unicode-bidi: bidi-override;
}

.testimonialstars span:before{
  color: #4A90E2;
  content: "\2605";
  font-weight: bolder;
  position: absolute;
}

.testimonialUserBody {
  flex: 1;
}

.col1 .testimonialUserBody{
  padding-right: 1rem;
  /* text-align: right; */
}

.col3 .testimonialUserBody,
.testimonialUser .testimonialUserBody{
  padding-left: 1rem;
}

.testimonialblock .testimonialUserBody p {
  font-size: 12px;
  color: var(--gray-dark);
}

.testimonialUserImgCon{
  border: solid 1px var(--gray09);
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.testimonialUserImg{
  width: 100%;
}

#footer {
  background-color: var(--gray);
  border-top: solid 1px var(--gray09);
  box-shadow: 0 -4px 17px 0 var(--gray-dark01);
  font-size: .8rem;
}

#footer .container{
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

#footer .container > *{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}

#footer .container > *:first-child{
  padding-left: 0;
}

#footer .container > *:last-child{
  padding-right: 0;
}

#footer .container > * > *{
  padding-bottom: .5rem;
}

#footer .container > * > *:last-child{
  padding-bottom: 0;
}

/*Overlay*/
.ovHi{
  overflow: hidden;
}

.WO__overlay{
  display: flex;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow-y: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: all ease-in-out 0.1s;
  visibility: hidden;
  width: 0;
  height: 0;
  z-index: 10010;
}

.WO__overlay--show{
  background-color: var(--gray09);
  justify-content: center;
  opacity: 1;
  top: 0;
  left: 0;
  visibility: visible;
  width: 100%;
  height: 100%;
}

.WO__overlayInner{
  display: flex;
  align-items: flex-start;
  margin: 0 10%;
}

.WO__overlayMedia{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1140px;
}

.WO__overlayMedia > *{
  background-color: var(--gray);
  flex-basis: 50%;
  padding: 1rem;
}

.WO__overlayMedia .col1{
  border-right: 1px solid var(--teal);
  border-left: 1px solid var(--teal);
}

.WO__overlayMedia .col2{
  border-right: 1px solid var(--coral);
  border-left: 1px solid var(--coral);
}

.WO__overlayMedia h2{
  text-align: left;
}

.WO__overlayCloseCon{
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.WO__overlayClose{
  font-size: 3rem;
  display: inline-block;
  position: fixed;
  top: .5rem;
  right: .5rem;
  text-decoration: none;
  color: var(--coral);
  line-height: 1;
}

.WO__overlayClose:hover{
  color: var(--teal);
}

@media (max-width: 640px){
  .container,
  .cards,
  .WO__overlayMedia{
    flex-direction: column;
  }

  .navbar > .container{
    flex-direction: row;
  }

  .navbar-nav{
    justify-content: center;
    padding-left: 0;
  }
  
  #WO__main{
    padding-top: 180px;
  }

  #intro .col1{
    padding-bottom: 1rem;
    padding-right: 0;
  }

  #intro .col2{
    padding-left: 0;
  }

  .introWhy{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-head-mobiles{
    margin-top: 0;
  }

  #challenge .card,
  #solution .card,
  #testimonials .card{
    margin-bottom: 1rem;
  }
  
  #footer .container > *{
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 0;
  }

  #footer .container > *:last-child{
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media (max-width: 480px){
  .navbar-nav{
    display: none;
    align-items: flex-end;
  }

  .WO__nav--mobileButtonOpen,
  .WO__nav--mobileButtonClose{
    display: block;
  }

  .navbar-nav--show{
    background-color: var(--gray);
    border-bottom: solid 1px var(--gray09);
    box-shadow: 0 4px 17px 0 var(--gray-dark01);
    color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-link{
    margin-bottom: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .navbar-shrink .nav-link{
    font-size: 1rem;
  }
  
  .nav-link.get-started-link{
    margin-right: 1rem;
  }

  .WO__overlayInner{
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }

  .WO__overlayMedia{
    order: 2;
  }

  .WO__overlayMedia .col1{
    border-bottom: 1px solid var(--teal);
  }

  .WO__overlayMedia .col2{
    border-top: 1px solid var(--coral);
  }

  .WO__overlayClose{
    position: static;
    order: 1;
  }
}

/* @media only screen{
  .navbar{
    position: static;
  }

  #WO__main{
    padding-top: 0 !important;
  }
} */